<!DOCTYPE html>
<html>
<head>
  <title>Prices</title>
  <link rel="stylesheet" href="style.css">
</head>
<body id="page2">

  <h1>Car fare compare</h1>
    <p>Lyft: $ <%= results /100 %> </p>
    <p>Lyft-line: $ <%= resultsLine /100 %> </p>
    <p>Lyft-plus: $ <%= resultsPlus /100  %> </p>


    <!-- <p> <%# selected %> </p> -->
  <form action="/show" method='POST'>
    <input type="hidden" name="ride[lyft]" value="<%= results %>" />
    <input type="submit" value="Select lyft!">
  </form>

  <form action="/show" method='POST'>
    <input type="hidden" name="ride[lyftLine]" value="<%= resultsLine %>" />
    <input type="submit" value="Select Lyft Line!">
  </form>

  <form action="/show" method='POST'>
    <input type="hidden" name="ride[lyftPlus]" value="<%= resultsPlus %>" />
    <input id="button" type="submit" value="Select Lyft Plus!">
  </form>


   <!--  <h5>Selected: </h5>
    <div class="lyft">
      <p>lyft: </p>
    </div> -->




</body>
</html>
